

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Libre+Baskerville&family=Poppins:ital,wght@0,600;1,400&display=swap');

/* .coins-container {
    height: 100px;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    gap: 2rem;
    align-items: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: scroll;
    -webkit-mask-image: linear-gradient(90deg, transparent,  #fff 10%, #fff 90%, transparent) ;
}
.coins-wrapper {
    display: flex;
    align-items: center;
    gap: 7px;
    animation: 8s animate infinite linear;
}
@keyframes animate {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.coins {
    color: #190019;
    transition: 0.5s;
    display: flex; 
    flex-direction: column;
    gap: 5px;
    width: 150px;
    align-items: flex-start;
}
.coins span {
    font-family: 'Josefin Sans';
    font-family: 'Libre Baskerville';
}
.coin-price {
    align-items: flex-start;
    font-family: 'Poppins';
} */

.wrapper {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    
}
.coins-wrapper {
    display: flex;
    align-items: center;
    gap: 7px;
    animation: 8s animate infinite linear;
}
.item {
    animation: animate 25s  linear infinite;
}
@keyframes animate {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1100px, 0, 0);
    }
}